
:root{
--main-background-color:#FFFFFF;
--second-background-color:#2F303A;
--first-logo-part-color:#000000;
--second-logo-part-color:#FFFFFF;
--hero-btn-color:#FFFFFF;
--hero-btn-background-color:#2196F3;
--header-link-color:#212121;
--first-contacts-color:#757575;
--main-title-color:#FFFFFF;
--second-title-color:#212121;
--main-text-color:#757575;
--address-map-color:#FFFFFF;
--background-items-color:#FFFFFF;
--backgrounds-team-color:#F5F4FA;
--portfolio-btn-color:#212121;
--portfolio-btn-background-color: #F5F4FA;
--porfolio-btn-active-color:#FFFFFF;
--accent-color:#2196F3;

}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

img {
    display: block;
}
/* ------------BODY------------ */
body{
    font-family: 'roboto', 'sans-serif';
    letter-spacing: 0.03em;
    font-size: 14px;
 background-color:var(--main-background-color)

}

.list{
list-style: none;
}
.link{
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* ------------HEDER------------ */

.header-logo {
    font-family: 'Raleway', 'sans-serif';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color)}

.logo-part {
    color: var(--first-logo-part-color);}


.header-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-link-color);
}
.header-link:hover,
.header-link:focus{
    color: var(--accent-color)}

.cotacts-link{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--first-contacts-color);
}
.cotacts-link:hover, 
.cotacts-link:focus{
    color: var(--accent-color);
}

/* ------------HERO----------- */
.hero {
background: var(--second-background-color)}

.hero-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--main-title-color);
}

.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--hero-btn-color);
background: var(--hero-btn-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
cursor: pointer;}

.hero-btn:hover,
.hero-btn:focus{
    background: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
}

        /* ------------ADVANTAGE----------- */

.advantage-title{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
    
        color: var(--second-title-color);
}
.advantage-txt{
    line-height: 1.71;
    color: var(--main-text-color);
}

                /* ------------PROJECTS---------- */

    .projects-title{
            font-weight: 700;
            font-size: 36px;
            line-height: 1.17;
            text-align: center;
            color: var(--second-title-color);
    }

    /* ------------TEAM---------- */
    .team{
        background: var(--backgrounds-team-color)
    }
    .team-title{
        font-weight: 700;
            font-size: 36px;
            line-height: 1.17;
            text-align: center;
            color: var(--second-title-color);
    }
    .team-item{
        background: var(--background-items-color);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
    }

    .team-name{
        font-weight: 500;
            font-size: 16px;
            line-height: 1.19;
            text-align: center;
            color: var(--second-title-color);
    }
    .team-job{
            font-size: 16px;
            line-height: 1.19;
            text-align: center;
            color: var(--main-text-color);
    }

        /* ------------FOOTER--------- */
.address{
    background-color:var(--second-background-color);
}

        .address-logo{
        font-family: 'Raleway','sans-serif';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: var(--accent-color);
        }
       
        .address-logo-part{
            color: var(--second-logo-part-color)
        }

        .address-map{
            font-style: normal;
            line-height: 1.71;
            color: var(--address-map-color);
        }
        .address-map:hover,
        .address-map:focus{
            color: var(--accent-color);}
        .address-link{
            font-style: normal;
            line-height: 1.71;
            color: rgba(255, 255, 255, 0.6);
        }
.address-link:hover,
.address-link:focus{
 color: var(--accent-color);}

 /* ------------PORTFOLIO-------- */
 .filters-btn{
    font-family: inherit;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        color: var(--portfolio-btn-color);
        background: var(--portfolio-btn-background-color);
        border-radius: 4px;
        cursor: pointer;  
        border-color: transparent;  
 }
 .filters-btn:hover,
.filters-btn:focus{
    background-color: var(--accent-color);
    color:var(--porfolio-btn-active-color);}

    /* ------------PORTFOLIO-PROJECTS-------- */

.portfolio-item {
background: var(--background-items-color);
border: 1px solid #EEEEEE;
border: none;}

.portfolio-title{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--second-title-color);}

.portfolio-text{
        font-size: 16px;
        line-height: 1.88;
        color: var(--main-text-color);
}